<h1>Update Book details</h1>
<div class="row">
	<div>
		<%= form_for(@book) do |f| %>
			<%= render 'shared/error_messages', object: f.object %>

			<%= f.label :title %>
			<%= f.text_field :title %>

			<%= f.label :author %>
			<%= f.text_field :author %>

			<%= f.label :description %>
			<%= f.text_area :description, cols: "10", rows: 3 %>

			<%= f.label :price %>
			<%= f.text_field :price %>

			<br />
			<%= f.submit "Update Book", class: "btn btn-large btn-primary" %>
		<% end %>
	</div>
</div>