<h1>Book details (<%= @book.title %>)</h1>
<ul class="row span4">
	<li>Title : <%= @book.title %></li>
	<li>Author : <%= @book.author %></li>
	<li>Description : <%= @book.description %></li>
	<li>Price : Rs. <%= @book.price %></li>
</ul>
